<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="ad4a2adb-2572-482d-a0f0-52bae63471df" Publisher="CN=Mikael" Version="1.0.0.0" />
  <Properties>
    <DisplayName>Scenario2_Periodic_Updates</DisplayName>
    <PublisherDisplayName>Mikael</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Scenario2_Periodic_Updates.App">
      <VisualElements DisplayName="Scenario2_Periodic_Updates" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Scenario2_Periodic_Updates" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>