<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="ebf9a812-e37f-449f-b413-bb3aa3ee951a"
            Publisher="CN=Mikael"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>caliburn-micro-winrt-getting-started</DisplayName>
    <PublisherDisplayName>Mikael</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.0</OSMinVersion>
    <OSMaxVersionTested>6.2.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="caliburn_micro_winrt_getting_started.App">
        <VisualElements
            DisplayName="caliburn-micro-winrt-getting-started"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="caliburn-micro-winrt-getting-started"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>