<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="cd79f39b-09d1-4de0-9246-d82178f6c866"
            Publisher="CN=Mikael"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>WinRT-MVVM-GridView-SemanticZoom</DisplayName>
    <PublisherDisplayName>Mikael</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <Description>WinRT-MVVM-GridView-SemanticZoom</Description>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="WinRT_MVVM_GridView_SemanticZoom.App">
        <VisualElements
            DisplayName="WinRT-MVVM-GridView-SemanticZoom"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="WinRT-MVVM-GridView-SemanticZoom"
            ForegroundText="light"
            BackgroundColor="#222222">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>